<table>
    <tr>
        <th>文書ID</th>
        <td><%= keyword._id %></td>
    </tr>
    <tr>
        <th>作成者</th>
        <td><%= keyword._source.author %></td>
    </tr>
    <tr>
        <th>タイトル</th>
        <% if(edit == true) {%>
        <td><input type="text" name="title" class="title_edit" value="<%= keyword._source.title %>"></td>
        <% }else{%>
        <td><%= keyword._source.title %></td>
        <% }%>
    </tr>
    <tr>
        <th>内容</th>
        <% if(edit == true) {%>
        <td><textarea type="text" name="content" class="content_edit" value="<%= keyword._source.content %>"></textarea></td>
        <% }else{%>
        <td><textarea readonly type="text" class="content_show"><%= keyword._source.content %></textarea></td>
        <% }%>
    </tr>
    <tr>
        <th>作成日</th>
        <td><%= keyword._source.create_date %></td>
    </tr>
    <tr>
        <th>最終更新日</th>
        <td><%= keyword._source.last_update %></td>
    </tr>               
</table>