<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type"
            content="text/html"; charset="UTF8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><head><%= title %></head></h1>
        <div role="main">
            <p><%= content %></p>
            <form method="POST" action="/search_show">
            <table>
                <% for(key in keyword) { %>
                    <tr>
                        <th><%= key %></th>
                        <td><input type="text" name="<%= key %>" ></td>
                    </tr>                
                <% } %>
            </table>
                <p>検索条件<br>
                    <input type="radio" name="q1" value="OR" checked> OR検索
                    <input type="radio" name="q1" value="AND"> AND検索
                </p>
            <p><input type="submit" value="検索"></p>
            </form>
        </div>
        <span><a href="/">トップページ</a></span>
    </body>
</html>